body {
 background-image: url(../img/background-pattern.png);
}

.navbar-fixed-top .navbar-inner {
	height: 50px;
	background: #363636;		
}

.navbar {
	font-size: 16px;
}

.navbar .main-nav {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff363636', endColorstr='#ff363636', GradientType=0)
}

.navbar .nav > li > a {
	text-shadow: none;
	color: #fff;	
	padding: 14px 15px 10px;
}

.navbar .brand {
	margin-top: -20px;
	margin-left: -20px;
	padding: 0px;
}

.navbar-form input {
	margin-top: 8px;
	font-size: 16px;
  height: 24px;
	width: 135px;
	background: url(../img/map-pin.png) no-repeat;
	background-color: #555555;
	border: 1px solid #363636;
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255, 0.80);
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255, 0.80);
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-left: 30px;
	margin-left: 40px;	
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	/*color: #d7d7d7;*/
  color: #99cc00;
	text-decoration: none;
	background-position: 0px;
}

.navbar .nav a.home {
	text-indent: -10000px;
	background: url(../img/home-icon.png) no-repeat;
	margin-top: 15px;
}

.navbar .nav a.home:hover {
	background: url(../img/home-icon-hover.png) no-repeat;
	margin-top: 15px;
}

.navbar .nav a.join {
	padding: 5px;
	margin-top: 10px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.navbar .nav a.join:hover {
	color: #ffffff;
	border-color: #99cc00;
}

.navbar .nav a.join:active {
	background-color: #5BB75B;
}

/* Login modal popup */

.modal {
	width: 364px;
	height: 352px;
	left: 50%;
	margin: -250px 0 0 -180px;
}

.modal-header {
	border-bottom: none;
}

.modal-header h3 {
	color: #99cc00;
	font-weight: normal;
	margin-left: 15px;
	margin-top: 15px;
}

.modal-body input[type="text"],
.modal-body input[type="password"] {
	width: 280px;
	height: 25px;
	margin-left: 15px;
	margin-top: 10px;
	font-family: 'Average Sans', sans-serif;
	font-size: 19px;
	font-weight: 100;
	color: #363636;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: -2px -2px #e1e1e1;
	-webkit-box-shadow: -2px -2px #e1e1e1;
	box-shadow: -2px -2px #e1e1e1;
}

.modal-body input:-moz-placeholder {
	color: #acacac;
}

.modal-body a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #7d7d7d;
	text-decoration: underline;
	margin-left: 15px;	
}

.modal-footer {
	border-top: none;
	background-color: #fff;
	margin-top: -10px;
}

.modal-footer .btn {
	padding: 5px 20px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	float: left;
	margin-left: 15px;
	font-size: 17px;
	text-shadow: none;
	color: #fff;
}

.modal-footer .btn:hover {
	color: #ffffff;
	border-color: #99cc00;
	background-position: 0px;
}

.modal-footer .btn:active {
	background-color: #5BB75B;
}

.modal-footer img {
	margin-top: -6px;
	margin-right: 20px;
}

.modal-footer p {
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: 15px;
	color: #acacac;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}

.modal-footer a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: #636363;
	text-decoration: underline;
	margin-left: 10px;
}


/* Listing page */

.listing-page .service .share-buttons {
	position: absolute;
	margin-top: 220px;
	margin-left: 8px;
	width: 280px;
}

.listing-page .share-buttons .agavey-fb-like {
	width: 100px;
	float: left;
	margin-top: 2px;
}

.listing-page .share-buttons .agavey-pin-button {
	width: 100px;
	float: left;
}

.listing-page .share-buttons .agavey-mail-icon {
	width: 58px;
	float: left;
}

.listing-page .share-buttons .agavey-wishlist-icon {
	width: 22px;
	float: left;
}

.categories {
	margin-top: 50px;
}

.categories .navbar-inner {
	background: #e6e6e6;
	height: 40px;
	background-image: -webkit-linear-gradient(top, #e6e6e6, #d3d3d3);
  background-image: -o-linear-gradient(top, #e6e6e6, #d3d3d3);
  background-image: linear-gradient(to bottom, #e6e6e6, #d3d3d3);
  font-size: 13px;
}

.categories .nav > li > a {
	color: #464646;
	padding: 0px;
}

.categories .nav > li {
	padding: 10px 10px 12px 0px;
}

.categories .nav > li:last-child {
	padding-right: 0px;
}

.categories .nav > li.space {
	padding-top: 8px;
	margin-right: 0px;
	font-size: 16px;
	font-weight: 100;
	color: #ebebeb;
	font-weight: bold;
}

.search {
	margin-top: 91px;
}

.search form {
	background-color: #d0d0d0;
	padding: 6px 6px;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.search form input {
	font-size: 16px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 140px;
	margin-bottom: 0px;
}

.search form a.btn {
	width: 75px;
	height: 22px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

.search form a.btn i {
	background: url(../img/loup.png) no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 0px;
	line-height: 20px;
	vertical-align: text-top;
}

.search form .btn {
	border: none;
	color: #fff;
	font-size: 16px;
	text-shadow: none;
}

.search form .btn:hover {
	color: #fff;
	background-position: 0px;
}

.main-content {
	margin-top: 135px;
}

.main-content h1 {
	font-size: 25px;
	color: #363636;
	margin-bottom: 0px;
}

.service {
	height: 350px;
	margin-top: 40px;
}

.service .like-button {
	margin-top: 10px;
}

.service .text-box {
	position:relative; 
	top:-103px;
}

.service h2 {
	position: absolute;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
	margin-top: -210px;
	margin-left: 10px;
	width: 283px;
}

.service h2 img {
	float: right;
	margin-top: 10px;
	margin-right: 4px;
}

.service .description {
	margin-top: -178px;
	line-height: 14px;
}

.service .location {
	position: absolute;
	font-size: 14px;
	color: #e1e1e1;
	font-style: italic;
	margin-top: -159px;
	margin-left: 10px;
}

.service .price {
	position: absolute;
	font-size: 17px;
	color: #ffffff;
	font-weight: bold;
	margin-top: -135px;
	margin-left: 10px;
	width: 283px;
}

.service .price a {
	position: absolute;
	right: 3px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	background-color: #d02553;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 1px 5px;
}

.footer {
	margin-top: 100px;
	border-top: 1px solid #e1e1e1;
	width: 940px;
}

.footer .nav > li > a {
	text-shadow: none;
	color: #898989;
	font-size: 14px;
}

.footer .nav > li {
	padding: 10px 8px 10px 0px;
}

.footer .nav > li:first-child {
	margin-left: -10px;
}

.footer .nav > li.space {
	padding-top: 22px;
	margin-right: 0px;
	font-size: 20px;
	font-weight: 100;
	color: #c4c4c4;
}

/* Detail page */

.detail {
	padding-top: 47px;
}

.detail-page .share-buttons {
	position: absolute;
	margin-top: 340px;
	margin-left: 16px;
	width: 350px;
}

.detail-page .share-buttons .agavey-fb-like {
	width: 120px;
	float: left;
	margin-top: 2px;
}

.detail-page .share-buttons .agavey-pin-button {
	width: 120px;
	float: left;
}

.detail-page .share-buttons .agavey-mail-icon {
	width: 76px;
	float: left;
}

.information {
	padding-top: 42px;
	margin-left: 20px;
}

.information h2 {
	font-size: 28px;
	color: #252525;
}

.information .price {
	font-size: 25px;
	color: #252525;
	font-weight: bold;
	padding-top: 30px;
}

.information .price a {
	float: right;
	font-size: 19px;
	color: #fff;
	font-weight: bold;
	background-color: #d02553;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding: 5px 8px 8px;
	box-shadow: 2px 2px 3px #a1a1a1;
	margin-top: -7px;
	margin-right: 2px;
}

.information .detail {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	color: #363636;	
	margin-top: -15px;
}

.information .lic {
	background: url(../img/icon-licensed.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 20px;
	margin-top: 45px;
	margin-left: -30px;
}

.information li {
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;	
	font-weight: 400;
}

.information .bonded {
	background: url(../img/icon-bonded.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 22px;
	margin-top: 12px;
	margin-left: -30px;
}

.information .insured {
	background: url(../img/icon-insured.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 23px;
	margin-top: 12px;
	margin-left: -30px;
}

.information .rating {
	background: url(../img/icon-rating.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 20px;
	margin-top: 45px;
	margin-left: -260px;
}

.information .years {
	background: url(../img/icon-years.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 28px;
	margin-top: 6px;
	margin-left: -260px;
}

.information .exp {
	background: url(../img/icon-exp.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 23px;
	margin-top: 12px;
	margin-left: -260px;
}

.provider-box {
	background-color: #fff;
	margin-top: 30px;
	width: 370px;
	-moz-box-shadow:  2px 2px 3px #ebebeb;
	-webkit-box-shadow:  2px 2px 3px #ebebeb;
	box-shadow: 2px 2px 3px #ebebeb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
}

.provider-box h3 {
	font-size: 26px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
	margin-left: 15px;
	font-weight: 900;
}

.provider-box p {
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #555;
	margin-left: 15px;
	margin-right: 10px;
}

.provider-box li {
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #555;
	margin-left: 15px;
}

.provider-box strong {
	font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
}

.provider-box address {
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #555;
	margin-left: 15px;
	margin-top: 20px;
}

.provider-box a {
	font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
	background-color: #d7d7d7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	box-shadow: 2px 2px 3px #a1a1a1;
	margin-left: 100px;
	margin-bottom: 20px;
	display: block;
	width: 170px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.review-box {
	background-color: #fff;
	margin-top: 30px;
	width: 370px;
	-moz-box-shadow:  2px 2px 3px #ebebeb;
	-webkit-box-shadow:  2px 2px 3px #ebebeb;
	box-shadow: 2px 2px 3px #ebebeb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
}

.review-box h3 {
	font-size: 26px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
	margin-left: 15px;
	font-weight: 900;
}

.review-box blockquote.clearfix {
	border-left: none;
	background-color: #f3f3f3;
}

.review-box blockquote.clearfix p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #555;
	font-weight: normal;
	padding-top: 5px;
} 

.review-box blockquote.clearfix cite {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #555;
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
}

.review-box blockquote.white {
	border-left: none;
	margin-bottom: 25px;
}

.review-box blockquote.white p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #555;
	font-weight: normal;
	margin-top: -15px;
} 

.review-box blockquote.white cite {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-style: italic;
	color: #555;
	float: right;
	margin-right: 10px;
}

.rated {
	margin-top: 35px;
}

.rated a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	color: #959595;
	display: block;
	line-height: 4px;
}
 
.service-box {
	background-color: #fff;
	margin-top: 30px;
	-moz-box-shadow:  2px 2px 3px #ebebeb;
	-webkit-box-shadow:  2px 2px 3px #ebebeb;
	box-shadow: 2px 2px 3px #ebebeb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
}

.service-box h3 {
	font-size: 26px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
	margin-left: 15px;
	font-weight: 900;
}

.service-box h3.faq {
	font-size: 26px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
	margin-left: 15px;
	margin-top: 30px;
	font-weight: 900;
}

.service-box p {
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #555;
	margin-left: 15px;
	margin-right: 10px;
}

.service-box li {
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #555;
	margin-left: 15px;
}

.service-box h4 {
	font-size: 17px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
	margin-left: 15px;
	margin-top: 15px;
}

.service-box strong {
	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #363636;
	margin-left: 15px;
	font-weight: 700;
}

.service-box  > p:last-child {
	margin-bottom: 20px; 
}


/* Sign up page */

.white-box {
	background-color: #fff;
	margin-top: 100px;
	-moz-box-shadow:  2px 2px 3px #a1a1a1;
	-webkit-box-shadow:  2px 2px 3px #a1a1a1;
	box-shadow: 2px 2px 3px #a1a1a1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
}

.white-box h1 {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 33px;
	color: #99cc00;
	font-weight: 400;
}

.create-or-facebook {
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.create {
	padding: 0px 0px 0px 10px;
	font-size: 28px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.create-or-facebook .or {
	padding: 33px 0px 25px 35px;
	font-size: 28px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #acacac;
}

.or a {
	margin-right: 24px;
	float: right;
	margin-top: -8px;
}

.white-box form {
	margin-left: 10px;
}

.white-box form .controls {
	margin-top: 20px;
}

.white-box form input[type="text"],
.white-box form input[type="password"] {
	width: 256px;
	height: 25px;
	margin-left: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color: #363636;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: -2px -2px #e1e1e1;
	-webkit-box-shadow: -2px -2px #e1e1e1;
	box-shadow: -2px -2px #e1e1e1;
}

.state-gender {
	margin-top: 30px;
	margin-left: 20px;
}

.gender {
	margin-top: 5px;
	margin-left: 4px;
	width: 295px;
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #000;
}

.gender label {
	margin-top: -8px;
	margin-left: 20px;
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #000;
}

.gender label.male {
	padding-left: 20px;
}

.own-home {
	margin-top: 30px;
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #000;
	text-align: center;
}

.own-home label {
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.white-box form button {
	margin-top: 30px;
	margin-left: 220px;
	font-size: 25px;
	padding: 10px 0;
	width: 170px;
	-moz-box-shadow:  2px 2px 3px #a1a1a1;
	-webkit-box-shadow:  2px 2px 3px #a1a1a1;
	box-shadow: 2px 2px 3px #a1a1a1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	background-color: #de6786;
	background-image: -webkit-linear-gradient(top, #de6786, #d02552);
  background-image: -o-linear-gradient(top, #de6786, #d02552);
  background-image: linear-gradient(to bottom, #de6786, #d02552);	
  margin-bottom: 30px;
  font-weight: bold;
}

.white-box form button:hover {
	color: #fff;
	background-position: 0px;
}

.white-box form button:hover {
	background-color: #de6786;
}

.white-box form select {
	width: 270px;
	height: 35px;
	border: 1px solid #e1e1e1;
}

.white-box form select, option {
	font-size: 19px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	color: #363636;
}

/* homepage */

.main-image {
	background: url(../img/image1.png) no-repeat center;
	height: 595px;
	background-color: #000;
}

.main-image .container {
	padding-top: 17px;
}

.main-image .container input {
	border: none;
}

.main-image .container .nav li {
	float: left;
}

.main-image .container .nav .login {
	font-size: 17px;
	color: #fff;
	margin-right: 15px;
	margin-top: 6px;
}

.main-image .container .nav .join {
	font-size: 16px;
	padding: 5px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: -1px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px 2px 5px rgba(50, 50, 50, 0.75);
}

.main-image .nav > li > a.join:focus, 
.main-image .nav > li > a.join:hover {
  color: #fff;
	text-decoration: none;
	background-position: 0px;
}

.main-image .brand {
	display: block;
	float: left;
}

.main-image .title {
	background-color: rgba(70, 70, 70, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55464646, endColorstr=#55464646);
	margin-top: 175px;
	padding: 45px 20px 90px 75px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 490px;
	z-index: 1000;
	position: absolute;
}

.main-image .title span {
	display: block;
	font-size: 42px;
	font-weight: bold;
	color: #fff;
	margin-top: 30px;
	margin-left: 40px;
}

.main-image .video {
	background: #777;
	width: 270px;
	height: 220px;
	margin-left: 80px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: -252px;
	z-index: 1500;
	position: relative;
	top: 460px;
}

.main-image .video span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 33px;
	color: #fff;
	display: block;
	padding-top: 88px;
	padding-bottom: 10px;
	margin-left: 35px;
}

.main-image .video a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: #fff;
	margin-left: 85px;
}

.main-image a.big-join {
	margin-left: 410px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 465px;
	z-index: 6000;
	position: absolute;
}

.main-image a.big-join {
	padding: 12px 20px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: -1px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -1px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         -1px 2px 5px rgba(50, 50, 50, 0.75);
}

.main-image a.big-join:focus, 
.main-image a.big-join:hover {
  color: #fff;
	text-decoration: none;
	background-position: 0px;
}

.search-home form {
	background-color: #d0d0d0;
	padding: 6px 6px;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.search-home form input {
	font-size: 16px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 140px;
	margin-bottom: 0px;
}

.search-home form a.btn {
	width: 75px;
	height: 22px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

.search-home form a.btn i {
	background: url(../img/loup.png) no-repeat;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-top: 0px;
	line-height: 20px;
	vertical-align: text-top;
}

.search-home form .btn {
	border: none;
	color: #fff;
	font-size: 16px;
	text-shadow: none;
}

.search-home form .btn:hover {
	color: #fff;
	background-position: 0px;
}

.homepage h1.categories {
	font-size: 25px;
	margin-top: -14px;
	margin-left: 16px;
}

.homepage h1.others {
	font-size: 25px;
	margin-left: 16px;
	padding-top: 10px;
}

.homepage .arrow-left {
	float: left;
	margin-top: 160px;
	margin-left: 15px;
}

.homepage .arrow-right {
	float: right;
	margin-top: -200px;
}

.homepage .featured .service {
	margin-top: 20px;
}

.homepage .featured .first {
	margin-left: 4px;
}

.homepage .featured .service {
	width: 270px;
	height: 335px;
}

.homepage .featured .text-box {
	margin-top: 25px;
}

.homepage .featured h2 {
	font-size: 22px;
	font-weight: bold;
	padding-top: 35px;
}

.homepage .featured h2.description {
	font-size: 17px;
	font-weight: 300;
	padding-top: 45px;
	width: 250px;
}

.homepage .featured h2 img {
	margin-top: -7px;
}

.homepage .featured .text-box-bigger {
	margin-top: -125px;
}

.homepage .featured p {
	position: absolute;
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	width: 250px;
	margin-top: -110px;
	margin-left: 10px;
}

.homepage .featured h2.cost {
	margin-top: -100px;
	width: 250px;
}

.homepage .featured h2.cost img {
	margin-top: 8px;
}

.homepage .arrow-left-testimonials {
	float: left;
	margin-top: 56px;
	margin-left: 15px;
}

.homepage .arrow-right-testimonials {
	float: right;
	margin-top: -112px;
}

.homepage .testimonial {
	margin-left: 20px;
	width: 270px;
}

.homepage .testimonials blockquote {
	border-left: none;
	width: 230px;
}

.homepage .testimonials cite {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-style: italic;
	color: #363636;
	float: right;
	background: url(../img/quote-down.png) no-repeat right top;
	padding-right: 25px;
	margin-top: 5px;
}

.homepage .testimonials p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #363636;
	font-weight: normal;
	line-height: 20px;
}

.homepage .testimonials img.quote-up {
	margin-left: -30px;
	margin-bottom: -10px;
}

.homepage .testimonials a {
	color: #898989;
}



/* Shared CSS */

.navbar .nav a.cart {
	text-indent: -10000px;
	background: url(../img/cart-icon.png) no-repeat;
	margin-top: 10px;
	width: 7px;
}

.navbar .nav a.cart:hover,
.navbar .nav a.cart:active {
	background-position: 0px 0px;
}

/* Invite page */

.invite-page .white-box .call {
	margin-top: 30px;
	margin-left: 30px;
}

.invite-page .white-box .call span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	color: #000;
	font-weight: 300;
}

.invite-page .white-box .instructions {
	margin: 30px 30px 0px;
}

.invite-page .white-box .instructions p.special {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	color: #d02552;
	font-weight: normal;
	margin-bottom: -5px;
}

.invite-page .white-box .instructions p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	color: #000;
	font-weight: 300;
}

.invite-page .white-box form .social input[type="text"] {
	width: 415px;
	height: 20px;
	margin-left: 20px;
	margin-top: -5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #000;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: -2px -2px #e1e1e1;
	-webkit-box-shadow: -2px -2px #e1e1e1;
	box-shadow: -2px -2px #e1e1e1;
}

.invite-page .white-box .social .icons {
	margin-right: 30px;
	margin-top: -5px;
}

.invite-page .white-box .social .icons a {
	margin-left: 13px;
}

.invite-page .white-box .fb-invite {
	margin-left: 20px;
	padding-top: 45px;
}

.invite-page .white-box .fb-invite img {
	margin-bottom: 12px;
}

.invite-page .white-box .fb-invite p.or {
	font-size: 28px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #acacac;
	display: inline;
	margin-left: 30px;
}

.invite-page .white-box form .email-invite input {
	width: 550px;
	height: 20px;
	margin-left: 20px;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color: #000;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: -2px -2px #e1e1e1;
	-webkit-box-shadow: -2px -2px #e1e1e1;
	box-shadow: -2px -2px #e1e1e1;
}

.invite-page .white-box form .email-invite input:-moz-placeholder {
	color: #acacac;
}

.invite-page .white-box form .email-invite button {
	font-size: 19px;
	font-weight: normal;
	margin-right: 30px;
	margin-bottom: 40px;
	padding: 6px 0px;
	width: 155px;
}

/* How it Works */

.how_it_works .white-box .steps {
	margin: 30px 30px 0px 30px;
}

.how_it_works .white-box .steps span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	color: #d02552;
}

.how_it_works .white-box .steps p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	color: #111;
	margin-bottom: 25px;
}

.how_it_works .white-box .steps p:last-child {
	margin-bottom: 40px;
}

/* Payment-page */

.payment-page h1 {
	margin-left: 25px;
}

.payment-page .white-box form {
	margin-left: 0px;
}

.payment-page .white-box table {
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 0px;
	width: 586px;
}

.payment-page .white-box table th {
	font-size: 19px;
	color: #363636;
	font-weight: 400;
}

.payment-page .white-box table th.desc {
	width: 285px;
}

.payment-page .white-box table th.quantity,
.payment-page .white-box table th.price {
	width: 85px;
}

.payment-page .white-box table td {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	color: #000;
	font-weight: 300;
	padding: 15px 8px;
}

.payment-page .white-box table td.amount {
	text-align: right;
}

.payment-page .white-box input[type="text"] {
	width: 256px;
	font-size: 19px;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: -2px -2px #e1e1e1;
	-webkit-box-shadow: -2px -2px #e1e1e1;
	box-shadow: -2px -2px #e1e1e1;
}

.payment-page .white-box input:-moz-placeholder {
	color: #acacac;
}

.payment-page .white-box input.promo-code {
	margin-left: 0px;
}

.payment-page .white-box input.promo-code {
	margin-top: -4px;
	margin-bottom: 6px;
}

.payment-page .white-box input.cc-number {
	margin-bottom: 14px;
	margin-left: 0px;
}

.payment-page .white-box .code {
	margin-left: 24px;
	margin-right: 30px;
	padding-top: 15px;
	padding-bottom: 5px;
	border-top: 1px solid #dddddd; 
	width: 570px;
}

.payment-page .white-box a.btn {
	padding: 4px 7px 5px;
	font-size: 17px;
	font-weight: bold;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.payment-page .white-box .code a {
	margin-top: -12px;
	margin-left: 9px;
}

.payment-page .white-box a.btn:hover {
	color: #ffffff;
	border-color: #99cc00;
	background-position: 0px;
}

.payment-page .white-box a.btn:active {
	background-color: #5BB75B;
}

.payment-page .white-box .total {
	margin-left: 26px;
	margin-right: 30px;
	padding-top: 15px;
	border-top: 1px solid #dddddd; 
	height: 50px;
	width: 570px;
}

.payment-page .white-box .total span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	color: #111;
	padding-left: 285px;
}

.payment-page .white-box .total .summ {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	color: #111;
}

.payment-page .white-box .total a {
	margin-top: 20px;
}

.payment-page .white-box .credit-card h4 {
	font-size: 19px;
	font-weight: normal;
	margin: 32px 0px 28px 0px;
}

.payment-page .white-box .credit-card .borders {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	margin: -7px 15px 0px;
	padding-left: 10px;
}	

.payment-page .white-box .credit-card img {
	margin: -59px 10px 0px 0px;
}

.payment-page .white-box .credit-card span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color: #000;
}

.payment-page .white-box .credit-card .mm {
	margin-top: -5px;
	margin-left: 35px;
	width: 30px; 
	height: 15px
}

.payment-page .white-box .credit-card .yy {
	margin-top: -5px;
	margin-left: 15px;
	width: 30px; 
	height: 15px
}

.payment-page .white-box .credit-card .security-code {
	margin-top: -5px;
	margin-left: 15px;
	width: 50px; 
	height: 15px
}

.payment-page .white-box .credit-card .security {
	margin-left: 38px;
}

.data {
	margin-bottom: 20px;
}

.payment-page .white-box .billing-address h4 {
	font-size: 19px;
	font-weight: normal;
	margin: 26px 15px 25px;
}

.payment-page .white-box .billing-address .borders {
	margin-left: 8px;
}

.payment-page .white-box .controls span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color: #000;
	margin-left: 20px;
}

.payment-page .white-box .controls select {
	width: 60px;
	height: 30px;
	font-size: 15px;
	margin-left: 8px;
	margin-right: 5px;
}

.payment-page .white-box .controls .checkbox {
	margin-left: 20px;
	margin-top: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19px;
	font-weight: 300;
	color: #000;
}

.payment-page .white-box .controls p {
	margin-left: 20px;
	margin-top: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #000;
}

.payment-page .white-box .controls p a {
	color: #898989;
}

.payment-page .white-box .purchase {
	width: 225px;
	font-size: 22px;
	margin-top: 10px;
	margin-left: 190px;
}

.payment-page .white-box .faq .border {
	border-top: 1px solid #dddddd;
	margin: -20px 15px -10px;
}

.payment-page .white-box .faq h5 {
	margin: 17px 30px 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #555;
	font-weight: 700;
}

.payment-page .white-box .faq p {
	margin: 10px 30px 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	color: #555;
}

.payment-page .white-box .faq p:last-child {
	margin-bottom: 40px;
}

/* About Us */

.about_us .white-box .content {
	margin: 30px 30px 0px 30px;
}

.about_us .white-box .content p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	color: #363636;
	margin-bottom: 25px;
}

.about_us .white-box .content ul {
	margin-top: -10px;
}

.about_us .white-box .content span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	color: #111;
}

.about_us .white-box .content li {
	color: #d02552;
}

.about_us .white-box .content p:last-child {
	margin-bottom: 40px;
	margin-top: 20px;
}

/* Privacy Policies */

.privacy_policies .white-box .content {
	margin: 30px 30px 0px 30px;
}

.privacy_policies .white-box .content p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	color: #363636;
	margin-bottom: 15px;
}

.privacy_policies .white-box .content strong {
	font-size: 19px;
	display: block;
	margin-top: 22px;
	font-weight: 700;
}

.privacy_policies .white-box .content p:last-child {
	margin-bottom: 40px;
}

/* Survey page */

.survey-page .white-box .steps {
	margin: 30px 30px 0px 30px;
}

.survey-page .white-box .steps .form {
	margin-top: 30px;
	margin-left: -10px;
}

.survey-page .white-box .steps span {
	font-size: 19px;
	color: #99cc00;
}

.survey-page .white-box .steps p {
	font-size: 19px;
	color: #252525;
}	

.survey-page .white-box .steps input[type="text"] {
	width: 256px;
	font-size: 19px;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: -2px -2px #e1e1e1;
	-webkit-box-shadow: -2px -2px #e1e1e1;
	box-shadow: -2px -2px #e1e1e1;
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: 0px;
}

.survey-page .white-box .steps input:-moz-placeholder {
	color: #acacac;
}

.survey-page .white-box .steps small {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: #363636;
	font-weight: 200;
}

.survey-page .white-box .steps .own-home {
	margin-top: 20px;
	margin-left: -10px;
	text-align: left;
}

.survey-page .white-box .steps .own-home p {
	font-size: 17px;
}

.survey-page .steps .own-home label {
	margin-left: 120px;
	font-size: 17px;
	margin-top: -10px;
}

.survey-page .white-box .steps .services-spend {
	margin-top: 20px;
	margin-left: -10px;
}

.survey-page .white-box .steps .services-spend p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	color: #000;
	font-weight: 300;
}

.survey-page .white-box .steps .services-spend .column1 {
	width: 212px;
}

.survey-page .white-box .steps .services-spend .column2 {
	width: 162px;
}

.survey-page .white-box .steps .services-spend .column3 {
}

.survey-page .white-box .steps .services-spend .checkbox {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: #000;
	margin-left: 0px;
}

.survey-page .white-box .steps .services-spend .others {
	margin-top: 20px;
	font-size: 15px;
}

.survey-page .white-box .services-spend input[type="text"] {
	width: 550px;
	margin-top: 0px;
	margin-bottom: 25px;
}

.survey-page .white-box .services-spend textarea {
	width: 550px;
}

.white-box form button {
	margin-right: 30px;
}

.survey-page .white-box {
	margin-bottom: 76px;
}

/* My Account */

.my_account .white-box .links {
	margin: 30px 30px 0px 30px;
}

.my_account .white-box p {
	margin-bottom: 30px;
}

.my_account .white-box p:last-child {
	margin-bottom: 40px;
}

.my_account .white-box a {
	color: #d02552;
	font-size: 20px;
}

/* Custom Service Payment */

.custom_service .custom {
	margin-top: 50px;
}

.custom_service .custom input.desc {
	width: 550px;
}

.custom_service .custom input.input-small {
	width: 110px;
	margin-top: 30px;
}

.custom_service .custom input:-moz-placeholder {
	color: #acacac;
}

.custom_service .custom select {
	margin-top: 30px;
	margin-left: 20px;
}

.custom_service .btn {
	margin-top: 50px;
}

/* Change Password */

.change_password .white-box {
	margin-left: 172px;
}

.change_password .white-box .controls {
	margin-left: 144px;
	margin-top: 24px;
}

.change_password .white-box .controls input {
	margin-top: 20px;
}

.change_password .white-box .controls input:-moz-placeholder {
	color: #acacac;
}

.change_password .white-box .btn {
	margin-top: 50px;
	width: auto;
	padding: 10px 20px;
	margin-left: 192px;
	font-size: 20px;
}

/* Vendor - common */

.main-box {
	margin-left: 0px;
	margin-bottom: 50px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 6px #729604;
  -moz-box-shadow: inset 0 0 6px #729604;
  box-shadow: inset 0 0 6px #729604;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #99cc00;
}

/* Biz Information */

.bizinformation1 .main-box h1 {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 33px;
	color: #99cc00;
	font-weight: 400;
}

.bizinformation1 .main-box tr {
	width: 400px;
}

/* Welcome page */

.welcome .main-box h1 {
	font-size: 49px;
	color: #99cc00;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

.welcome .main-box h2 {
	font-size: 28px;
	color: #b7b7b7;
	text-align: center;
	font-weight: 400;
}

.welcome .need img {
	opacity:0.3;
	filter:alpha(opacity=30);
	position: relative;
	margin-top: 50px;
	margin-left: 20px;
}

.welcome .need p {
	position: absolute;
	margin-top: -330px;
	margin-left: 70px;
	font-size: 26px;
	color: #252525;
}

.welcome .options {
	position: absolute;
	margin-top: -276px;
	margin-left: 70px;
}

.welcome .options label {
	font-size: 18px;
	color: #111;
	font-family: 'Source Sans Pro', sans-serif;
}

.welcome .options .checkbox {
	min-height: 26px;
}