body {
 background-image: url(../img/background-pattern.png);
}

.navbar-fixed-top .navbar-inner {
	height: 50px;
	background: #363636;		
}

.navbar {
	font-size: 16px;
}

.navbar .nav > li > a {
	text-shadow: none;
	color: #fff;	
	padding: 14px 15px 10px;
}

.navbar .brand {
	padding: 2px 10px 0px 20px;
}

.navbar-form input {
	margin-top: 8px;
	font-size: 16px;
  height: 24px;
	width: 135px;
	background: url(../img/map-pin.png) no-repeat;
	background-color: #555555;
	border: 1px solid #363636;
	-moz-box-shadow: inset 0 0 5px rgba(255,255,255, 0.80);
	-webkit-box-shadow: inset 0 0 5px rgba(255,255,255, 0.80);
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-left: 30px;
	margin-left: 40px;	
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	/*color: #d7d7d7;*/
  color: #99cc00;
	text-decoration: none;
	background-position: 0px;
}

.navbar .nav a.home {
	text-indent: -10000px;
	background: url(../img/home-icon.png) no-repeat;
	margin-top: 14px;
}

.navbar .nav a.home:hover {
	background: url(../img/home-icon-hover.png) no-repeat;
	margin-top: 14px;
}

.navbar .nav a.join {
	padding: 5px;
	margin-top: 10px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.navbar .nav a.join:hover {
	color: #ffffff;
	border-color: #99cc00;
}

.navbar .nav a.join:active {
	background-color: #5BB75B;
}

.categories {
	margin-top: 50px;
}

.categories .navbar-inner {
	background: #e6e6e6;
	height: 40px;
	background-image: -webkit-linear-gradient(top, #e6e6e6, #d3d3d3);
  background-image: -o-linear-gradient(top, #e6e6e6, #d3d3d3);
  background-image: linear-gradient(to bottom, #e6e6e6, #d3d3d3);
  font-family: Verdana;
  font-size: 12px;
}

.categories .nav > li > a {
	color: #464646;
	padding: 0px;
}

.categories .nav > li {
	padding: 10px 8px 10px 0px;
}

.categories .nav > li:last-child {
	padding-right: 0px;
}

.categories .nav > li.space {
	padding-top: 8px;
	margin-right: 0px;
	font-size: 20px;
	font-weight: 100;
	color: #ebebeb;
}

.search {
	margin-top: 91px;
}

.search form {
	background-color: #d0d0d0;
	padding: 6px 6px;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.search form input {
	font-size: 16px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 140px;
	margin-bottom: 0px;
}

.search form a.btn {
	width: 75px;
	height: 22px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

.search form a.btn i {
	background: url(../img/loup.png) no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 0px;
	line-height: 20px;
	vertical-align: text-top;
}

.search form .btn {
	border: none;
	color: #fff;
	font-size: 16px;
	text-shadow: none;
}

.search form .btn:hover {
	color: #fff;
	background-position: 0px;
}

.main-content {
	margin-top: 135px;
}

.main-content h1 {
	font-size: 25px;
	color: #363636;
	margin-bottom: 0px;
}

.service {
	height: 350px;
	margin-top: 40px;
}

.service .text-box {
	position:relative; 
	top:-103px;
}

.service h2 {
	position: absolute;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
	margin-top: -210px;
	margin-left: 10px;
	width: 283px;
}

.service h2 img {
	float: right;
	margin-top: 10px;
	margin-right: 4px;
}

.service .description {
	margin-top: -178px;
	line-height: 14px;
}

.service .location {
	position: absolute;
	font-size: 14px;
	color: #e1e1e1;
	font-style: italic;
	margin-top: -159px;
	margin-left: 10px;
}

.service .price {
	position: absolute;
	font-size: 17px;
	color: #ffffff;
	font-weight: bold;
	margin-top: -135px;
	margin-left: 10px;
	width: 283px;
}

.service .price a {
	position: absolute;
	right: 3px;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	background-color: #d02553;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 1px 5px;
}

.footer {
	margin-top: 100px;
	border-top: 1px solid #e1e1e1;
	width: 940px;
}

.footer .nav > li > a {
	text-shadow: none;
	color: #898989;
	font-size: 14px;
}

.footer .nav > li {
	padding: 10px 8px 10px 0px;
}

.footer .nav > li:first-child {
	margin-left: -10px;
}

.footer .nav > li.space {
	padding-top: 22px;
	margin-right: 0px;
	font-size: 20px;
	font-weight: 100;
	color: #c4c4c4;
}

.detail {
	padding-top: 47px;
}

.information {
	padding-top: 42px;
	margin-left: 20px;
}

.information h2 {
	font-size: 28px;
	color: #252525;
}

.information .price {
	font-size: 25px;
	color: #252525;
	font-weight: bold;
	padding-top: 30px;
}

.information .price a {
	float: right;
	font-size: 19px;
	color: #fff;
	font-weight: bold;
	background-color: #d02553;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding: 5px 8px 8px;
	box-shadow: 2px 2px 3px #a1a1a1;
	margin-top: -7px;
	margin-right: 2px;
}

.information .detail {
	font-family: Gill Sans;
	font-size: 19px;
	color: #464646;	
	margin-top: -15px;
}

.information .lic {
	background: url(../img/icon-licensed.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 20px;
	margin-top: 45px;
	margin-left: -30px;
}

.information li {
	font-size: 19px;
	font-family: Gill Sans;
	font-weight: 300;
}

.information .bonded {
	background: url(../img/icon-bonded.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 22px;
	margin-top: 12px;
	margin-left: -30px;
}

.information .insured {
	background: url(../img/icon-insured.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 23px;
	margin-top: 12px;
	margin-left: -30px;
}

.information .rating {
	background: url(../img/icon-rating.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 20px;
	margin-top: 45px;
	margin-left: -260px;
}

.information .years {
	background: url(../img/icon-years.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 28px;
	margin-top: 6px;
	margin-left: -260px;
}

.information .exp {
	background: url(../img/icon-exp.png) no-repeat;
	display: inline-block;
	width: 30px;
	height: 23px;
	margin-top: 12px;
	margin-left: -260px;
}

.provider-box {
	background-color: #fff;
	margin-top: 30px;
	width: 370px;
	-moz-box-shadow:  2px 2px 3px #ebebeb;
	-webkit-box-shadow:  2px 2px 3px #ebebeb;
	box-shadow: 2px 2px 3px #ebebeb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
}

.provider-box h3 {
	font-size: 25px;
	font-family: Gill Sans;
	color: #363636;
	margin-left: 15px;
}

.provider-box p {
	font-size: 15px;
	font-family: Gill Sans;
	color: #555;
	margin-left: 15px;
	margin-right: 10px;
}

.provider-box li {
	font-size: 15px;
	font-family: Gill Sans;
	color: #555;
	margin-left: 15px;
}

.provider-box strong {
	font-size: 17px;
	font-family: Gill Sans;
	color: #363636;
}

.provider-box address {
	font-size: 15px;
	font-family: Gill Sans;
	color: #555;
	margin-left: 15px;
	margin-top: 20px;
}

.provider-box a {
	font-size: 17px;
	font-family: Gill Sans;
	color: #363636;
	background-color: #d7d7d7;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	box-shadow: 2px 2px 3px #a1a1a1;
	margin-left: 100px;
	margin-bottom: 20px;
	display: block;
	width: 170px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.review-box {
	background-color: #fff;
	margin-top: 30px;
	width: 370px;
	-moz-box-shadow:  2px 2px 3px #ebebeb;
	-webkit-box-shadow:  2px 2px 3px #ebebeb;
	box-shadow: 2px 2px 3px #ebebeb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
}

.review-box h3 {
	font-size: 25px;
	font-family: Gill Sans;
	color: #363636;
	margin-left: 15px;
}

.review-box blockquote.clearfix {
	border-left: none;
	background-color: #f3f3f3;
}

.review-box blockquote.clearfix p {
	font-family: Gill Sans;
	font-size: 17px;
	color: #555;
	font-weight: normal;
	padding-top: 5px;
} 

.review-box blockquote.clearfix cite {
	font-family: Gill Sans;
	font-size: 17px;
	font-style: italic;
	color: #555;
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
}

.review-box blockquote.white {
	border-left: none;
	margin-bottom: 25px;
}

.review-box blockquote.white p {
	font-family: Gill Sans;
	font-size: 17px;
	color: #555;
	font-weight: normal;
	margin-top: -15px;
} 

.review-box blockquote.white cite {
	font-family: Gill Sans;
	font-size: 17px;
	font-style: italic;
	color: #555;
	float: right;
	margin-right: 10px;
}

.rated {
	margin-top: 35px;
}

.rated a {
	font-family: Gill Sans;
	font-size: 19px;
	color: #959595;
}
 
.service-box {
	background-color: #fff;
	margin-top: 30px;
	-moz-box-shadow:  2px 2px 3px #ebebeb;
	-webkit-box-shadow:  2px 2px 3px #ebebeb;
	box-shadow: 2px 2px 3px #ebebeb;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
}

.service-box h3 {
	font-size: 25px;
	font-family: Gill Sans;
	color: #363636;
	margin-left: 15px;
}

.service-box h3.faq {
	font-size: 25px;
	font-family: Gill Sans;
	color: #363636;
	margin-left: 15px;
	margin-top: 30px;
}

.service-box p {
	font-size: 15px;
	font-family: Gill Sans;
	color: #555;
	margin-left: 15px;
	margin-right: 10px;
}

.service-box li {
	font-size: 15px;
	font-family: Gill Sans;
	color: #555;
	margin-left: 15px;
}

.service-box h4 {
	font-size: 17px;
	font-family: Gill Sans;
	color: #363636;
	margin-left: 15px;
	margin-top: 15px;
}

.service-box strong {
	font-size: 15px;
	font-family: Gill Sans;
	color: #363636;
	margin-left: 15px;
}

.service-box  > p:last-child {
	margin-bottom: 20px; 
}



/* Sign up page */

.sign-up-box {
	background-color: #fff;
	margin-top: 100px;
	-moz-box-shadow:  2px 2px 3px #a1a1a1;
	-webkit-box-shadow:  2px 2px 3px #a1a1a1;
	box-shadow: 2px 2px 3px #a1a1a1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e1e1e1;
}

.sign-up-box h1 {
	margin-top: 30px;
	margin-left: 30px;
	font-size: 33px;
	color: #99cc00;
	font-weight: 400;
}

.create-or-facebook {
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.create {
	padding: 0px 0px 0px 10px;
	font-size: 28px;
	font-family: Gill Sans;
	font-weight: 200;
}

.or {
	padding: 33px 0px 25px 35px;
	font-size: 28px;
	font-family: Gill Sans;
	font-weight: 100;
	color: #acacac;
}

.or a {
	margin-left: 55px;
}

.sign-up-box form {
	margin-left: 10px;
}

.sign-up-box form .controls {
	margin-top: 20px;
}

.sign-up-box form input[type="text"],
.sign-up-box form input[type="password"] {
	width: 256px;
	height: 25px;
	margin-left: 21px;
	font-family: Gill Sans;
	font-size: 19px;
	font-weight: 100;
	color: #363636;
	border: 1px solid #e1e1e1;
	-moz-box-shadow: -2px -2px #e1e1e1;
	-webkit-box-shadow: -2px -2px #e1e1e1;
	box-shadow: -2px -2px #e1e1e1;
	margin-top: 8px;
}

.state-gender {
	margin-top: 30px;
	margin-left: 20px;
}

.gender {
	margin-top: 5px;
	margin-left: 4px;
	width: 295px;
	font-size: 19px;
	font-family: Gill Sans;
	font-weight: 300;
}

.gender label {
	margin-top: -8px;
	margin-left: 20px;
	font-size: 19px;
	font-family: Gill Sans;
	font-weight: 300;

}

.gender label.male {
	padding-left: 20px;
}

.own-home {
	margin-top: 30px;
	font-size: 19px;
	font-family: Gill Sans;
	font-weight: 300;
	text-align: center;
}

.own-home label {
	font-size: 19px;
	font-family: Gill Sans;
	font-weight: 300;
}

.sign-up-box form button {
	margin-top: 30px;
	margin-left: 220px;
	font-size: 25px;
	padding: 10px 0;
	width: 170px;
	-moz-box-shadow:  2px 2px 3px #a1a1a1;
	-webkit-box-shadow:  2px 2px 3px #a1a1a1;
	box-shadow: 2px 2px 3px #a1a1a1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	background-color: #de6786;
	background-image: -webkit-linear-gradient(top, #de6786, #d02552);
  background-image: -o-linear-gradient(top, #de6786, #d02552);
  background-image: linear-gradient(to bottom, #de6786, #d02552);	
  margin-bottom: 30px;
  font-weight: bold;
}

.sign-up-box form button:hover {
	color: #fff;
	background-position: 0px;
}

.sign-up-box form button:hover {
	background-color: #de6786;
}


.sign-up-box form select {
	width: 270px;
	height: 35px;
	border: 1px solid #e1e1e1;
}

.sign-up-box form select, option {
	font-size: 19px;
	font-family: Gill Sans;
	font-weight: 100;
	color: #363636;
}

/* homepage */

.search-home {
	margin-top: 595px;
}

.search-home form {
	background-color: #d0d0d0;
	padding: 6px 6px;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.search-home form input {
	font-size: 16px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 140px;
	margin-bottom: 0px;
}

.search-home form a.btn {
	width: 75px;
	height: 22px;
	background-color: #99cc00;
	background-image: -webkit-linear-gradient(top, #99cc00, #7fa900);
  background-image: -o-linear-gradient(top, #99cc00, #7fa900);
  background-image: linear-gradient(to bottom, #99cc00, #7fa900);	
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
}

.search-home form a.btn i {
	background: url(../img/loup.png) no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 0px;
	line-height: 20px;
	vertical-align: text-top;
}

.search-home form .btn {
	border: none;
	color: #fff;
	font-size: 16px;
	text-shadow: none;
}

.search-home form .btn:hover {
	color: #fff;
	background-position: 0px;
}

